.movie-card {
  background: #1c1c1c;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card-link{
  text-decoration: none;
  color: inherit;
}